.root {
    width: calc(100vw - 260px);
    & > span {
        color: black;
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
    }
}

@media (max-width: 400px) {
    .root {
        width: calc(100vw - 24px);
    }
}