.data_picker {
    position: absolute;
    top: 10%;
    left: auto;
    right: auto;

    width: 292px;
    z-index: 5;
}

.rdrDefinedRangesWrapper, .rdrDateDisplayWrapper {
    display: none !important;
}

.rdrCalendarWrapper {
    background: linear-gradient(to right bottom,rgb(255, 255, 255),#3A80BA) !important;
    backdrop-filter: blur(2px) !important;
    border-radius: 15px;
}

.close_data {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(171, 171, 171, 0.251);
    border: none;
    border-radius: 4px;
    color: #3A80BA;
    outline: none;
}

.closed {
    display: none;
}