.root {
    width: calc(100vw - 260px);
    box-sizing: border-box;

    margin-bottom: 24px;
}

.head {
    box-sizing: border-box;
}

.headline {
    box-sizing: border-box;

    & > th {
        background: #3a80ba;
        height: 48px;
        color: white;
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 400;
        text-align: start;
        padding: 14px 24px;

        box-sizing: border-box;
    }

    & th:nth-child(1) {
        border-top-left-radius: 8px;
    }

    & th:nth-child(8) {
        border-top-right-radius: 8px;
    }
}

.bodyline {

    cursor: pointer;

    & > th {
        font-size: 16px;
        line-height: 19.5px;
        font-weight: 400;
        color: #1A1A1A;

        height: 32px;
    }

    &:nth-child(odd) {
        background-color: #FBFBFB;
    }

    &:nth-child(even) {
        background-color: #F1F1F1;
    }
}


@media (max-width: 400px) {
    .head {
        display: none;
    }

    .bodyline {
        position: relative;

        display: flex;
        width: 335px;
        height: 200px;

        border-radius: 16px;
    }

    & th:nth-child(1) {
        position: absolute;
        top: 15px;
        left: 15px;

        font-size: 12px;
        width: calc(100% - 24px);
        height: 16px;

        border-bottom: 1px solid black;
        text-align: start;
    }
    & th:nth-child(2) {
        position: absolute;
        top: 35px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;

        &::before {
            content: 'First Name: ';
            font-weight: 700;
        }
    }
    & th:nth-child(3) {
        position: absolute;
        top: 55px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'Last Name: ';
            font-weight: 700;
        }
    }
    & th:nth-child(4) {
        position: absolute;
        top: 75px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'Email: ';
            font-weight: 700;
        }
    }
    & th:nth-child(5) {
        position: absolute;
        top: 95px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'Gender: ';
            font-weight: 700;
        }
    }
    & th:nth-child(6) {
        position: absolute;
        top: 115px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'IP address: ';
            font-weight: 700;
        }
    }
    & th:nth-child(7) {
        position: absolute;
        top: 135px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'Total clicks: ';
            font-weight: 700;
        }
    }
    & th:nth-child(8) {
        position: absolute;
        top: 155px;
        left: 15px;

        font-size: 16px;
        font-weight: 400;
        &::before {
            content: 'Total page views: ';
            font-weight: 700;
        }
    }
}